<?php

declare(strict_types=1);

/*
 * ShellDataReportingAPIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ShellDataReportingAPIsLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use ShellDataReportingAPIsLib\Exceptions\ApiException;
use ShellDataReportingAPIsLib\Exceptions\ErrorObjectException;
use ShellDataReportingAPIsLib\Models\AccountReq;
use ShellDataReportingAPIsLib\Models\AccountRes;
use ShellDataReportingAPIsLib\Models\AuditReq;
use ShellDataReportingAPIsLib\Models\AuditResponse;
use ShellDataReportingAPIsLib\Models\CardGroupReq;
use ShellDataReportingAPIsLib\Models\CardGroupRes;
use ShellDataReportingAPIsLib\Models\CardTypeReq;
use ShellDataReportingAPIsLib\Models\CardTypeRes;
use ShellDataReportingAPIsLib\Models\CustomerPriceListReq;
use ShellDataReportingAPIsLib\Models\CustomerPriceListRes;
use ShellDataReportingAPIsLib\Models\CustomerReq;
use ShellDataReportingAPIsLib\Models\CustomerRes;
use ShellDataReportingAPIsLib\Models\LoggedInUserReq;
use ShellDataReportingAPIsLib\Models\LoggedInUserRes;
use ShellDataReportingAPIsLib\Models\PayerReq;
use ShellDataReportingAPIsLib\Models\PayerRes;

class CustomerController extends BaseController
{
    /**
     * This operation allows querying the user data of the logged in user.
     * This operation should be called only after successful authentication of the end user in client
     * application. This operation will return the user access details such as payers and/or accounts.
     * This operation will also validate that logged in user has access to the requested operation, on
     * failure it will return HasAPIAccess flag as false in the response.
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param LoggedInUserReq $body
     *
     * @return LoggedInUserRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function userLoggedinuser(string $requestId, LoggedInUserReq $body): LoggedInUserRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/user-management/v1/loggedinuser')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request due to something that is" .
                    " perceived to be a client error (e.g., malformed request syntax, invalid re" .
                    "quest message framing, or deceptive request routing).\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "The request has not been applied because it lacks valid  authentication cr" .
                    "edentials for the target resource.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    "The origin server did not find a current representation  for the target re" .
                    "source or is not willing to disclose  that one exists.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    "The server encountered an unexpected condition that  prevented it from ful" .
                    "filling the request.\n",
                    ErrorObjectException::class
                )
            )
            ->type(LoggedInUserRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows querying the payer accounts details from the Shell Cards
     * Platform. It provides flexible search criteria for searching payer
     * information and supports paging.
     *
     * Paging is applicable only when all the
     * payers passed in the input are from the same ColCo.
     *
     * However, paging will
     * be ignored and the API will return all the matching data by merging the
     * data queried from each ColCo when payers passed in the input are from
     * multiple ColCos.
     *
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param PayerReq $body
     *
     * @return PayerRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function customerpayers(string $requestId, PayerReq $body): PayerRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/customer-management/v1/payers')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request due to something that is" .
                    " perceived to be a client error (e.g., malformed request syntax, invalid re" .
                    "quest message framing, or deceptive request routing).\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "The request has not been applied because it lacks valid  authentication cr" .
                    "edentials for the target resource.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    "The origin server did not find a current representation  for the target re" .
                    "source or is not willing to disclose  that one exists.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    "The server encountered an unexpected condition that  prevented it from ful" .
                    "filling the request.\n",
                    ErrorObjectException::class
                )
            )
            ->type(PayerRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows querying the card delivery addresses of a given account from the Shell Cards
     * Platform. Only active delivery addresses will be returned.
     *
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CustomerReq $body
     *
     * @return CustomerRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function customerdetail(string $requestId, CustomerReq $body): CustomerRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/customer-management/v1/customer')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request due to something that is" .
                    " perceived to be a client error (e.g., malformed request syntax, invalid re" .
                    "quest message framing, or deceptive request routing).\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "The request has not been applied because it lacks valid  authentication cr" .
                    "edentials for the target resource.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    "The origin server did not find a current representation  for the target re" .
                    "source or is not willing to disclose  that one exists.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    "The server encountered an unexpected condition that  prevented it from ful" .
                    "filling the request.\n",
                    ErrorObjectException::class
                )
            )
            ->type(CustomerRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows querying the customer account details from the Shell Cards Platform. It provides a
     * flexible search criterion and supports pagination.
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param AccountReq $body
     *
     * @return AccountRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCardAccounts(string $requestId, AccountReq $body): AccountRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/customer-management/v1/accounts')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request due to something that is" .
                    " perceived to be a client error (e.g., malformed request syntax, invalid re" .
                    "quest message framing, or deceptive request routing).\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "The request has not been applied because it lacks valid  authentication cr" .
                    "edentials for the target resource.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    "The origin server did not find a current representation  for the target re" .
                    "source or is not willing to disclose  that one exists.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    "The server encountered an unexpected condition that  prevented it from ful" .
                    "filling the request.\n",
                    ErrorObjectException::class
                )
            )
            ->type(AccountRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API provides allows querying the active card types that are associated to the given account.
     *
     * The API returns the card type configurations, purchase categories associated with the card type and
     * the card type restriction limits.
     *
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CardTypeReq $body
     *
     * @return CardTypeRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function customercardtypev(string $requestId, CardTypeReq $body): CardTypeRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/customer-management/v1/cardtype')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request due to something that is" .
                    " perceived to be a client error (e.g., malformed request syntax, invalid re" .
                    "quest message framing, or deceptive request routing).\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "The request has not been applied because it lacks valid  authentication cr" .
                    "edentials for the target resource.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    "The origin server did not find a current representation  for the target re" .
                    "source or is not willing to disclose  that one exists.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    "The server encountered an unexpected condition that  prevented it from ful" .
                    "filling the request.\n",
                    ErrorObjectException::class
                )
            )
            ->type(CardTypeRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows querying the card group details from the Shell Cards
     * Platform. It provides flexible search criteria and supports paging.
     *
     * When the account is not passed in the input and card group type is configured as
     * â€˜Verticalâ€™ in the cards platform, this API will return all card groups from
     * the payer as well as from all the accounts under the payer.
     *
     * When the account is not passed in the input and card group type is configured as
     * â€˜Horizontalâ€™ in cards platform, this API will return all card groups
     * configured directly under the payer.
     *
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CardGroupReq $body
     *
     * @return CardGroupRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cardgroups(string $requestId, CardGroupReq $body): CardGroupRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/customer-management/v1/cardgroups')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request due to something that is" .
                    " perceived to be a client error (e.g., malformed request syntax, invalid re" .
                    "quest message framing, or deceptive request routing).\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "The request has not been applied because it lacks valid  authentication cr" .
                    "edentials for the target resource.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    "The origin server did not find a current representation  for the target re" .
                    "source or is not willing to disclose  that one exists.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    "The server encountered an unexpected condition that  prevented it from ful" .
                    "filling the request.\n",
                    ErrorObjectException::class
                )
            )
            ->type(CardGroupRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This operation allows users to fetch audit data of account or card operations performed by users of
     * a given customer
     *
     * The audit data includes details of below API operations
     *
     *
     *
     * * Order Card
     *
     * * Create Card Group
     *
     * * PIN reminder
     *
     * * Move Cards
     *
     * * Update Card Status
     *
     * * Update Card Group
     *
     * * Auto renew
     *
     * * Bulk card order
     *
     * * Bulk card block
     *
     * * Bulk Card Order (Multi Account)
     *
     * * BCOSummary
     *
     * * BCOMultiAccountSummary
     *
     * * BCBSummary
     *
     * * Mobile Payment Registration
     *
     * * Fund Transfer (Scheduled & Realtime)
     *
     * * Delivery Address Update.
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param AuditReq|null $body request body
     *
     * @return AuditResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function auditReport(string $requestId, ?AuditReq $body = null): AuditResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/customer-management/v1/auditreport')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request due to something that is" .
                    " perceived to be a client error (e.g., malformed request syntax, invalid re" .
                    "quest message framing, or deceptive request routing).\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "The request has not been applied because it lacks valid  authentication cr" .
                    "edentials for the target resource.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    "The origin server did not find a current representation  for the target re" .
                    "source or is not willing to disclose  that one exists.\n",
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    "The server encountered an unexpected condition that  prevented it from ful" .
                    "filling the request.\n",
                    ErrorObjectException::class
                )
            )
            ->type(AuditResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * - This operation fetches the International and National Price List and discount values set on pump
     * prices & List Prices
     *
     * - It allows searching price list and discount values set on pump prices that are applicable for a
     * given customer
     *
     *
     *
     * **Note**: Accounts with cancelled status will not be considered for this operation for the
     * configured
     *
     *
     *
     * - When the search is based on customer specific price list then the customer price list is returned
     * based on the associated pricing customer.
     *
     * - The discount values set on pump prices, which are returned by the operation are always customer
     * specific values based on the customer associated price rules.
     *
     *
     *
     *
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CustomerPriceListReq|null $body Customerdetails request body
     *
     * @return CustomerPriceListRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function customerPriceList(string $requestId, ?CustomerPriceListReq $body = null): CustomerPriceListRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/customer-management/v1/pricelist')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectException::class
                )
            )
            ->type(CustomerPriceListRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
